<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" /> -->
  <title>Authentification</title>
</head>

<body>
<div class="column">
    <h3 class="title">Authentification</h3>
    <div class="box">
        <form method="POST" action="request.py">
            <div class="field">
                <div class="control">
                    <input type="subdomain" name="subdomain" placeholder="Nom de domaine">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="email" name="email" placeholder="Adresse mail">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="password" name="password" placeholder="Mot de passe">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    mémoriser
                </label>
            </div>
            <button class="button">Connexion</button>
        </form>
    </div>
</div>
</body>

</html>

<!-- source : https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login -->
